{% extends 'fin/base.html' %}
{% load static %}
{% block title %}| Friends{% endblock title %}
{% block content %}
<main>
    <p>Friend List</p>
    <hr>
    <div class="friend-list">
        {% if account.user.username == request.user.username %}
        nothing
        {% else %}
        {% for account in accounts %}
        <div class="friends">

            <a href="{% url 'profile' account.user.username %}"><img src="{{ account.user.avater.url }}" alt=""></a>
            <div class="friend-info">
                <p><a href="{% url 'profile' account.user.username %}">{{ account.user.username }}</a></p>
                <p style="font-size: 0.8rem; color:#6e6e6e;">{{ account.balance|floatformat:2 }}$</p>
                <p><a href="{% url 'balance' account.user.username %}">ID: {{ account.account_id }}</a></p>
            </div>
            <a href="{% url 'friend_transfer' account.account_id %}"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 14l11 -11" />
                    <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                </svg>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</main>
{% endblock content %}