{% extends 'fin/base.html' %}
{% load static %}
{% block title %}| Transfer{% endblock title %}
{% block content %}
<main>
    <div class="transfer">
        <div class="gas_fee" style="display: none;">
            {{gas_fee}}
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            <br>
            <label for="accountid">Account ID</label>
            <input type="text" name="accountid">
            <label for="amount">Amount</label>
            <input type="number" step="0.01" name="amount" onkeyup="keyHandle(value)">
            <div id="service_charge" style="display: flex;">
                <p>Total Service Charge: </p>
                <p class="charge_amount" style="margin-left: 7px;"> 0</p>
                <p>$</p>
            </div>
            <input type="submit" value="Send">
        </form>

    </div>
</main>
<script>

    let gasFee = document.querySelector('.gas_fee').textContent

    let keyHandle = (value) => {
        sc = value * (gasFee / 100)
        let inputPlace = document.querySelector('#service_charge .charge_amount')
        inputPlace.innerText = sc
    }


</script>
{% endblock content %}