body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.navbar {
  margin: 0 10%;
}

.front-page {
  margin: 11% 10%;
}

/* ledger Page Design Start */

.ledger {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ledger-wrapper {
  margin: 2% 10%;
  border: 1px solid #838383;
}

.ledger-message {
  text-align: center;
  width: auto;
  height: 20px;
  background-color: #d8d8d8;
  padding: 5px 10px;
}

.ledger-wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  padding: 20px 0;
  overflow-y: auto;
}

.ledger-wrapper li {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #e0e0e0;
  width: 80%;
  padding: 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* ledger Page Design End */

.friend-list {
  margin: 2% 10% 3%;
  height: 400px;
  border: 1px solid #838383;
  overflow-y: auto;
}

.friends {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #e0e0e0;
  width: 15rem;
  padding: 10px;
  margin: 2% 13%;
  border-radius: 12px;
}

.friends a {
  margin: 0;
  padding: 0;
  height: 40px;
}

.friends a img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #67e1ff;
  object-fit: cover;
}

.friend-info {
  flex-direction: column;
  gap: 0px;
  font-weight: 600;
}

.friend-info a:nth-child(1) {
  font-size: 15px;
}

.friend-info a:nth-child(2) {
  font-size: 12px;
}

.icon-tabler-message-circle,
.icon-tabler-bell {
  cursor: pointer;
}

.icon-tabler-bell {
}

#notification-count {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
  background-color: red;
  margin-top: -23px;
  color: white;
  font-size: 10px;
  text-align: center;
}

.icon-tabler-send {
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.icon-tabler-user-plus {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

footer {
  background-color: #e4e4e4;

  width: 100%;
}

footer ul {
  margin: 0 10%;
  padding: 20px;
}

/* Transfer page start */
.transfer {
  margin: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
}

form input {
  height: 30px;
  width: 300px;
  border: 1px solid #67e1ff;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
}

form input:focus {
  outline: 0;
  box-shadow: 0 0 2px 2px #67e1ff;
}

form input[type="submit"]:hover {
  font-weight: 700;
  background-color: #67e1ff;
}

/* Transfer page end */

/* Balance page start */
.balance {
  display: flex;
  justify-content: center;
}
/* Balance page end */

/* Profile page design start */
.profile {
  margin: 0 10%;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.profile-image {
}

.profile-image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid;
  object-fit: cover;
}

.profile-name {
}
.profile-username {
}
.profile-balance,
.profile-id,
.profile-bio,
.profile-address {
  margin: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}
.profile-id {
}
.profile-bio b,
.profile-address b {
  text-decoration: underline;
  margin-bottom: 3px;
}

/* Profile page design End */

/* Setting Start */
.edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
}
textarea {
  width: 300px;
  border: 1px solid #67e1ff;
  border-radius: 10px;
  padding: 5px;
}
textarea:focus {
  outline: 0;
  box-shadow: 0 0 2px 2px #67e1ff;
  padding: 5px;
}
/* Setting End */

/* login page start */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
}
/* login page end */

/* signup page start */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
}
/* sign up page end */
