{% extends 'base.html' %}
{% load static %}
{% block title %}| Contact{% endblock title %}
{% block content %}
<!-- Contact Section Start -->


<main>
  <div class="contact__container">
    <div class="contact__wrapper">
      <div class="contact__form">
        <div class="heading">
          <h3>Contact With Me</h3>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <label for="name">Name</label>
          <input type="text" id="name" name="username" placeholder="Enter your name" />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" />
          <label for="Subject">Subject</label>
          <input type="text" id="subject" name="subject" placeholder="Enter Subject" />
          <label for="message">Message</label>
          <input type="text" id="message" name="message" placeholder="Enter your message" />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </div>
</main>


<!-- Contact Section End -->

{% endblock content %}